<html>
<body>
<div class="zip-enter">
  <span class="zip-enterspan">Add a location </span>
  <form class="ui container form" [formGroup]="form" (ngSubmit)="get_data()">
    <br>
    <p class="title">Enter a zip code: (94040, 95742, 10001, 33101)</p>
    <input class="zip-code" type="number" formControlName="zipCode" style="height: 30px;">
    <button id="trackBtn" mat-raised-button color="primary" [disabled]="!form.valid">Add location</button>
  </form>
</div>
<br><br>
<div class="errmessage" *ngIf="errorMessage">
  {{errorMessage}}
</div>

  <div class="data" *ngFor="let data of stockData; let i = index">
    <span class="dataspan">{{data.name}} </span>
    <button  class="btn-delete" (click)="toggleElement(i)">❌</button>
    <div class="child1">
      <br>
      <p> Current conditions:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.weather[0].main}} </p>
      <p> Temperature: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.main.temp}}</p>
      <p> Max today: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.main.temp_max}}</p>
      <p> Min today: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.main.temp_min}}</p>
  </div>
    <div class="child2">
      <span style="font-size: 100px; color: red; " *ngIf="data.weather[0].main === clear_temp || data.weather[0].main === cloud_temp "><img src="assets/clouds.png" alt="clouds"> </span>
      <span style="font-size: 100px; color: red; " *ngIf="data.weather[0].main === sunny_temp "><img src="assets/sun.png" alt="sun"> </span>
      <span style="font-size: 100px; color: red; " *ngIf="data.weather[0].main === rain_temp "><img src="assets/rain.png" alt="rain"> </span>
      <span style="font-size: 100px; color: red; " *ngIf="data.weather[0].main === snow_temp "><img src="assets/snow.png" alt="snow"> </span>
    </div>

  </div>

</body>
</html>


